@media screen and (min-width: 300px) and (max-width: 720px){
*{
    margin: 0;
    padding: 0; 
    }
    
body{
    height: max-content;
    width: 100vw;
}    
    
/* HEADER EMPIEZA */
    
header{
    position: relative;
    height: 15vw;
    background: darkcyan;
}
header h1{
    color: white;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0%, -50%);
    font-size: 4vw;
}
header .navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    position: relative;
    top: 50%;
    left: 40vw;
    width: 60vw;
    transform: translate(0%, -50%);
}
header .navegador p{
    font-size: 3vw;
    color: white;
    text-decoration: unset;
}
header .navegador button{
    background: white;
    color: orange;
    border-radius: 25px 25px 25px 25px;
    width: 25vw;
    border: transparent;
    font-size:2.8vw;
}
/*  HEADER TERMINA 
    SECTION CONTAINER-PEDIDOS */
#container-pedidos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#container-pedidos #info{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    top: 10px;
}
#container-pedidos #info p{
    font-size: 4vw;
}
/* estado */
#container-pedidos #info #container-estado{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-pedidos #info #container-estado .estado{
    width: 12vw;
    height: 8vw;
    font-size: 3vw;
    margin-top: 2vw;
    border-radius: 10px 10px 10px 10px;
}
    /* estado */
/* hora */
#container-pedidos #info #container-hora{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(160, 156, 156);
    padding-left: 5px;
    padding-right: 5px;
}
#container-pedidos #info #container-hora .hora{
    font-size: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 2.8vw;
}
    /* hora */
/* descripcion */
#container-pedidos #info #container-descripcion{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 20vw;
}
#container-pedidos #info #container-descripcion .descripcion_p{
    font-size: 3vw;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 1vw;
    
}
    /* descripcion */
/* pago */
#container-pedidos #info #container-pago{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 12vw;
    background: rgb(160, 156, 156);
    padding-left: 5px;
    padding-right: 5px;
}
#container-pedidos #info #container-pago .pago{
    margin-top: 4vw;
    margin-bottom: 2vw;
}
    /* pago */
/* usuario */
#container-pedidos #info #container-usuario{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 20vw;
}
#container-pedidos #info #container-usuario .usuario_p{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 2.8vw;
}
    /* usuario */
/* direccion */
#container-pedidos #info #container-direccion{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(160, 156, 156);
}
#container-pedidos #info #container-direccion .direccion_p{
    display: none;
}
#container-pedidos #info #container-direccion .direccion{
    width: 8vw;
    height: 5vw;
    margin-top: 4vw;
    margin-bottom: 1vw;
}
    /* direccion */

    /* estados cambiables */
#container-pedidos #estados-container{
    display: flex;
    z-index: 2;
    width: 25vw;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    position: absolute;
    border: medium black solid;
    left: 12vw;
}
#container-pedidos #estados-container .estados{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: white;
    height: 10vw;
}
/* SECTION ADMINISTRADOR */

#administracion-section{
    position: relative;
    display: block;
    flex-direction: column;
    display: none;
}
#administracion-section .contenedor{
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}
#administracion-section .contenedor div{
    width: 100vw;
    height: 40vw;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
#administracion-section .contenedor div h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BORRAR PRODUCTOS SECTION */
#borrar-productos-container{
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#borrar-productos-container h1{
    font-size: 3vw;
    display: block;
    position: relative;
    width: 25vw;
    left: 33vw;
    top: 0px;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 
#borrar-productos-container input{
    display: block;
    position: relative;
    width: 6vw;
    height: 6vw;
    left: -45vw;
    top: 15px;
}

#borrar-productos-container .productos{
    top: 25px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95vw;
    position: relative;
}
#borrar-productos-container .productos .foodname{
    font-size: medium;
    position: absolute;
    left: 80px;
}
#borrar-productos-container .productos .price{
    position: absolute;
    top: 30px;
    left: 80px;
    color: grey;
    font-size: small;
}    
#borrar-productos-container .productos .foodimage{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 5px;
    top: 5px;
}
#borrar-productos-container .productos .nuestros-platos-button{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 80vw;
    top: 10px;
    color: black;
    background: red;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}
/* CREAR ADMINISTRADORES */
#crear-admin-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-content: space-around;
}
#crear-admin-container .back-button-create-admin{
    display: block;
    position: relative;
    width: 6vw;
    height: 6vw;
    left: -10vw;
    top: 0px;
}
#crear-admin-container h1{
    display: block;
    position: absolute;
    left: 48%;
    transform: translate(-50%, 0);
    width: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#crear-admin-container label{
    position: relative;
    top: 135px;
    margin-top: 30px;
}
#crear-admin-container input{
    position: relative;
    top: 135px;
    margin-top: 20px;
    height: 50px;
    width: 70vw;
    border-radius: 10px 10px 10px 10px;
}
#crear-admin-container button{
    position: relative;
    top: 180px;
    margin-top: 20px;
    margin: 5px 5px 5px 5px;
    width: 71vw;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    border: transparent;
    background: sandybrown;
}
/* BORRAR-PEDIDOS-CONTAINER */
#borrar-pedidos-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#borrar-pedidos-container .back-button-create-admin{
    display: block;
    position: relative;
    width: 6vw;
    height: 6vw;
    left: 3vw;
    top: 10px;
}
#borrar-pedidos-container h1{
    font-size: 3vw;
    display: block;
    position: relative;
    width: 25vw;
    height: max-content;
    left: 75vw;
    top: -5px;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* info-container */
#borrar-pedidos-container #info_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100vw;
    top: 20px;
}
/* estado, hora, nombre */
#borrar-pedidos-container #info_container .estado_container h2,
#borrar-pedidos-container #info_container .hora_container h2,
#borrar-pedidos-container #info_container .usuario_container h2
{
    font-size: 5vw;
    text-align: center;
}
#borrar-pedidos-container #info_container .estado_container h3,
#borrar-pedidos-container #info_container .hora_container p,
#borrar-pedidos-container #info_container .usuario_container p
{
    font-size: 3vw;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
/* numero pedido */
#borrar-pedidos-container #info_container .numero_pedido h2{
    font-size: 5vw;
    text-align: center;
}
#borrar-pedidos-container #info_container .numero_pedido p{
    font-size:3.5vw;
    text-align: center;
    margin-top: 4.5vw;
    margin-bottom: 4.5vw;
}
/* boton delete */
#borrar-pedidos-container #info_container .boton_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#borrar-pedidos-container #info_container .boton_container button{
    position: relative;
    top: 8vw;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 25px 25px 25px 25px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
/* MODIFICAR PRODUCTOS */
#header-modificar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
#header-modificar .back-button-modificar-productos{
    display: block;
    position: relative;
    width: 6vw;
    height: 6vw;
    left: 2.5vw;
}
#header-modificar h1{
    font-size: 3vw;
    display: block;
    position: relative;
    width: max-content;
    left: 62vw;
    top: 10px;
    height: max-content;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#info-productos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#info-productos .productos{
    top: 25px;
    height: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100vw;
    position: relative;
    border-bottom: 2px solid black;
}
#info-productos .productos .foodname{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 5%;
    width: 80vw;
}
#info-productos .productos .price{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    color: grey;
    font-size: small;
}
#info-productos .productos .url{
    position: absolute;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
    top: 45%;
}
#info-productos .productos .categoria{
    position: absolute;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
    top: 65%;
}
#info-productos .productos .modificar{
    position: absolute;
    width: 80vw;
    height: 25px;
    left: 50%;
    transform: translate(-50%);
    top: 80%;
    color: black;
    background: orange;
    border: none;
    font-size: 15px;
}
    /* BORRAR-PEDIDOS-CONTAINER */

/* CARGAR PRODUCTOS */
#cargar-productos-container{
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
}
#cargar-productos-container h1{
    position: relative;
    height: 50px;
    width: 100vw;
    text-align: center;
    top: 100px;
    font-size: 7vw;
}
#cargar-productos-container #formulario-cargar-productos{
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 125px;
    height: fit-content;
}
#cargar-productos-container #formulario-cargar-productos div{
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    position: relative;
}
#cargar-productos-container #formulario-cargar-productos div input{
    margin: 5px 5px 5px 5px;
    width: 80vw;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid black;
}
#cargar-productos-container #formulario-cargar-productos div select{
    width: 80vw;
    height: 25px;
    margin: 5px 5px 5px 5px;
}
#cargar-productos-container #formulario-cargar-productos div button{
    width: 80vw;
    height: 50px;
    background: rgb(126, 209, 43);
    margin-top: 40px;
}

}